<template>
  <div class="flex flex-col items-center justify-center">
    <h1 class="text-center my-5 font-bold underline text-blue-600">Dadu Sederhana</h1>
    <span class="text-xs">Mohon maaf belum sempurna dan belum sesuai dengan soal</span>
  </div>
  <div class="w-screen flex items-center justify-center p-5">
    <!-- Buat Desain Inputan -->
    <div class="max-w-md min-w-[359px] border p-2">
      <el-form :model="data" label-width="120px" label-position="top">
        <el-form-item label="Jumlah Pemain">
          <el-input v-model="data.PLAYER" placeholder="jumlah pemain" />
        </el-form-item>
        <el-form-item label="Jumlah Dadu">
          <el-input v-model="data.DADU" placeholder="jumlah dadu" />
        </el-form-item>
      </el-form>

      <!-- Evaluasi -->
      <div class="flex flex-col gap-2">
        <h1 class="font-xl font-semibold">Evaluasi</h1>
        <table>
          <tr>
            <td>Jumlah Pemain</td>
            <td>:</td>
            <td class="w-[150px]">{{ data.PLAYER || 0 }}</td>
          </tr>
          <tr>
            <td>Jumlah Pemain</td>
            <td>:</td>
            <td class="w-[150px]">{{ data.DADU || 0 }}</td>
          </tr>
        </table>
      </div>

      <el-button class="my-5" @click="onClickPlay" type="primary">Putar Dadu</el-button>

      <div class="flex flex-col gap-3" v-if="isResult">
        <div class="rounded border p-2 flex flex-col items-start justify-start" v-for="(val, i) in result" :key="i">
          <div class="">
            <h1 class="font-semibold">Putaran Dadu {{ i + 1 }}</h1>
            <div class="flex flex-col gap-2">
              <table class="my-2">
                <tr class="text-sm" v-for="(dadu, i) in val.PLAYER" :key="i">
                  <td>Pemain {{ i + 1 }}</td>
                  <td>:</td>
                  <td class="w-[150px]">{{ dadu.HASIL || '-' }}</td>
                </tr>
                <h1 class="font-semibold">Hasil Evaluasi</h1>
                <tr class="text-sm" v-for="(dadu, i) in val.PLAYER" :key="i">
                  <td>Pemain {{ i + 1 }}</td>
                  <td>:</td>
                  <td class="w-[150px]">{{ dadu.EVALUASI || 0 }}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import { ref } from "vue"

const isResult = ref(false)
const result = ref([])

const data = ref({})

const onClickPlay = () => {
  if (data.value.PLAYER == null || data.value.PLAYER == '' || data.value.DADU == null || data.value.DADU == '') {
    alert('Input Data terlebih dahulu!')
  } else {
    let players = [];
    // Looping Data Player
    for (let i = 0; i < data.value.PLAYER; i++) {
      let dadu = [];
      let evaluasi = 0

      // Looping data dadu
      for (let j = 0; j < data.value.DADU; j++) {
        dadu.push(Math.floor(Math.random() * 6) + 1);
      }

      let playerResult = dadu.join(', ');

      // Menghitung rata rata
      const total = dadu.reduce((acc, curr) => acc + curr, 0);
      evaluasi = (total / dadu.length).toFixed(2);
      players.push({ HASIL: playerResult, EVALUASI: evaluasi });
    }

    // Hitung Evaluasi
    result.value.push({ PLAYER: players })
    isResult.value = true
  }
}
</script>

<style lang="scss" scoped></style>
